	<!-- =============== main-slider =============== -->
	<section class="s-main-slider">
		<div class="main-slide-navigation"></div>
		<ul class="main-soc-list">
			<li><a href="https://www.facebook.com/hypollect">facebook</a></li>
			<li><a href="https://twitter.com/RovadexStudio">twitter</a></li>
			<li><a href="https://www.instagram.com/hypollect/">instagram</a></li>
		</ul>
		<div class="main-slider">
			<div class="main-slide">
				<div class="main-slide-bg" style="background-image: url(assets/img/bg-slider.svg);"></div>
				<div class="container">
					<div class="main-slide-info">
						<h2 class="title">funko pop</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore.</p>
						<a href="single-shop.html" class="btn"><span>buy now</span></a>
					</div>
					<div class="slide-img-cover">
						<a href="single-shop.html" class="lable-bike">
							<div class="lable-bike-img"><img src="assets/img/New/Funko-logo.png" alt="img"></div>
							<div class="lable-bike-item">
								<div class="model">Naruto Set</div>
								<div class="price">$499</div>
							</div>
						</a>
						<img src="assets/img/New/Funko-Pop.png" alt="img" class="slide-img">
					</div>
				</div>
			</div>
			<div class="main-slide">
				<div class="main-slide-bg" style="background-image: url(assets/img/bg-slider-2.svg);"></div>
				<div class="container">
					<div class="main-slide-info">
						<h2 class="title">Figure</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore consectetur sint iure id
							expedita saepe.</p>
						<a href="single-shop.html" class="btn"><span>buy now</span></a>
					</div>
					<div class="slide-img-cover">
						<a href="single-shop.html" class="lable-bike">
							<div class="lable-bike-img"><img src="assets/img/New/BANDAI_logo.png" alt="img"></div>
							<div class="lable-bike-item">
								<div class="model">MHA Set</div>
								<div class="price">$399</div>
							</div>
						</a>
						<img src="assets/img/New/Figure1.png" alt="img" class="slide-img">
					</div>
				</div>
			</div>
			<div class="main-slide">
				<div class="main-slide-bg" style="background-image: url(assets/img/bg-slider-3.svg);"></div>
				<div class="container">
					<div class="main-slide-info">
						<h2 class="title">sneakers</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis distinctio tenetur ab ut!
							Qui, facilis.</p>
						<a href="single-shop.html" class="btn"><span>buy now</span></a>
					</div>
					<div class="slide-img-cover">
						<a href="single-shop.html" class="lable-bike">
							<div class="lable-bike-img"><img src="assets\img\New\nike_logo.png" alt="nike_logo"></div>
							<div class="lable-bike-item">
								<div class="model">model X-230</div>
								<div class="price">$1099</div>
							</div>
						</a>
						<img src="assets/img/New/Sneakers.png" alt="img" class="slide-img">
					</div>
				</div>
			</div>
			<div class="main-slide">
				<div class="main-slide-bg" style="background-image: url(assets/img/bg-slider.svg);"></div>
				<div class="container">
					<div class="main-slide-info">
						<h2 class="title">cards</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore.</p>
						<a href="single-shop.html" class="btn"><span>buy now</span></a>
					</div>
					<div class="slide-img-cover">
						<a href="single-shop.html" class="lable-bike">
							<div class="lable-bike-img"><img src="assets/img/bike-info-slide.jpg" alt="img"></div>
							<div class="lable-bike-item">
								<div class="model">model SX-200</div>
								<div class="price">$1399</div>
							</div>
						</a>
						<img src="assets/img/New/TradingCards.png" alt="img" class="slide-img">
					</div>
				</div>
			</div>
			<div class="main-slide">
				<div class="main-slide-bg" style="background-image: url(assets/img/bg-slider-2.svg);"></div>
				<div class="container">
					<div class="main-slide-info">
						<h2 class="title">bearbricks</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore consectetur sint iure id
							expedita saepe.</p>
						<a href="single-shop.html" class="btn"><span>buy now</span></a>
					</div>
					<div class="slide-img-cover">
						<a href="single-shop.html" class="lable-bike">
							<div class="lable-bike-img"><img src="assets/img/bike-info-slide.jpg" alt="img"></div>
							<div class="lable-bike-item">
								<div class="model">model M-300</div>
								<div class="price">$1199</div>
							</div>
						</a>
						<img src="assets/img/New/Bearbricks.png" alt="img" class="slide-img">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ============= main-slider end ============= -->

	<!--================ S-FIND-BIKE ================-->
	<section class="s-find-bike">
		<div class="container">
			<form class="find-bike-form">
				<h2 class="title">find the collectibles</h2>
				<ul class="form-wrap">
					<li>
						<label>Category</label>
						<select class="nice-select">
							<option selected="selected">Figurines</option>
							<option>Trading Cards</option>
							<option>Sneakers</option>
						</select>
					</li>
					<li>
						<label>Status</label>
						<select class="nice-select">
							<option selected="selected">In-Stock</option>
							<option>Pre-Order</option>
							<option>Backorder</option>
							<option>On Sales</option>
						</select>
					</li>
					<li>
						<label>Brand</label>
						<select class="nice-select">
							<option selected="selected">Funko Pop</option>
							<option>Bearbricks</option>
							<option>Bandai</option>
							<option>Branpresto</option>
							<option>Tomica/Hot Wheels</option>
						</select>
					</li>
					<li><a href="shop.html" class="btn"><span>search</span></a></li>
				</ul>
			</form>
		</div>
	</section>
	<!--============== S-FIND-BIKE END ==============-->

    	<!--============== S-CATEGORY-BICYKLE ==============-->
	<section class="s-category-bicycle">
		<div class="container">
			<div class="slider-categ-bicycle">
				<div class="slide-categ-bicycle">
					<div class="categ-bicycle-item">
						<img src="assets/img/categ-2.png" alt="category">
						<div class="categ-bicycle-info">
							<h4 class="title">Funko Pop</h4>
							<a href="shop.html" class="btn"><span>view more</span></a>
						</div>
					</div>
				</div>
				<div class="slide-categ-bicycle">
					<div class="categ-bicycle-item">
						<img src="assets/img/categ-3.png" alt="category">
						<div class="categ-bicycle-info">
							<h4 class="title">Trading <br>Cards</h4>
							<a href="shop.html" class="btn"><span>view more</span></a>
						</div>
					</div>
				</div>
				<div class="slide-categ-bicycle">
					<div class="categ-bicycle-item">
						<img src="assets/img/categ-1.png" alt="category">
						<div class="categ-bicycle-info">
							<h4 class="title">Sneakers <br>& clothing</h4>
							<a href="shop.html" class="btn"><span>view more</span></a>
						</div>
					</div>
				</div>
				<div class="slide-categ-bicycle">
					<div class="categ-bicycle-item">
						<img src="assets/img/categ-3.png" alt="category">
						<div class="categ-bicycle-info">
							<h4 class="title">Bearbricks <br></h4>
							<a href="shop.html" class="btn"><span>view more</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--============ S-CATEGORY-BICYKLE END ============-->

	<!--=============== S-OUR-ADVANTAGES ===============-->
	<section class="s-our-advantages" style="background-image: url(assets/img/bg-advantages.jpg);">
		<span class="mask"></span>
		<div class="container">
			<h2 class="title">Our Advantages</h2>
			<div class="our-advantages-wrap">
				<div class="our-advantages-item">
					<img class="lazy" src="assets/img/placeholder-all.png" data-src="assets/img/advantages-1.svg"
						alt="icon">
					<h5>Free shipping <br>from $500</h5>
				</div>
				<div class="our-advantages-item">
					<img class="lazy" src="assets/img/placeholder-all.png" data-src="assets/img/advantages-2.svg"
						alt="icon">
					<h5>Warranty service <br>for 3 months</h5>
				</div>
				<div class="our-advantages-item">
					<img class="lazy" src="assets/img/placeholder-all.png" data-src="assets/img/advantages-3.svg"
						alt="icon">
					<h5>Exchange and return <br>within 14 days</h5>
				</div>
				<div class="our-advantages-item">
					<img class="lazy" src="assets/img/placeholder-all.png" data-src="assets/img/advantages-4.svg"
						alt="icon">
					<h5>Discounts for <br>customers</h5>
				</div>
			</div>
		</div>
	</section>
	<!--============= S-OUR-ADVANTAGES END =============-->1